{% extends 'base.html.twig' %}

{% block title %}Reinitialisation du mot de passe{% endblock %}


{% block body %}


    {% if app.request.pathinfo is same as("/password/forget") %}

        {% for message in app.flashes('message') %}
            <div>{{ message }}</div>
        {% endfor %}

        <form method="post" action="">

            <div>
                <label for="username">Utilisateur</label>
                <input type="text" id="username" name="username" placeholder="utilisateur" required>
            </div>

            <div>
                <label for="email">Votre email</label>
                <input type="email" id="email" name="email" placeholder="email" required>
            </div>

            <button type="submit">Valider</button>

        </form>

    {% else %}

        <div id="errors" style="display: none; color: red;">
            <p></p>
        </div>

        {% for message in app.flashes('message') %}
            <div>{{ message|raw }}</div>
        {% endfor %}

        <form method="post" name="changeUserPasswordForm" action="">

            <div>
                <label for="new_password">Votre nouveau mot de passe</label>
                <input type="password" id="new_password" name="new_password" placeholder="nouveau mot de passe" required>
            </div>

            <div>
                <label for="new_password_confirm">Confirmation</label>
                <input type="password" id="new_password_confirm" name="new_password_confirm" placeholder="confirmation" required>
            </div>

            <button type="submit" id="new_password_form_validation_button">Valider</button>

        </form>

    {% endif %}

    
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('assets/js/template/security/jquery_form_validate.js') }}"></script>
    <script src="{{ asset('assets/js/template/security/ajaxChangeUserPassword.js') }}"></script>

{% endblock %}