
<ul class="panels" id="panels-1" >

    <li class="panel" id="panel__create" data-action="create">
        <img src="https://via.placeholder.com/200/200">
        <span>Créer un template</span>
    </li>

    <li class="panel" id="panel_load" data-action="load">
        <img src="https://via.placeholder.com/200/200">
        <span>Charger un template</span>
    </li>

</ul>
