<div class="modal associate none template-toolsmenu" id="associate">
    <div class="popup">
        <span class="close" title="Fermer"><i class="fal fa-times"></i></span>
        <div class="left-container">
            <div id="lock">
                <h2>VERROUILLER LA ZONE</h2>
                <form action="" method="">
                    <div class="switch-group">
                        <label class="switch">
                            <input type="checkbox" id="switch">
                            <span class="slider"></span>
                        </label>
                        <span>Non vérouillé</span>
                    </div>
                </form>
            </div>
            <div id="zone">
                <h2>ASSOCIER DES ZONES</h2>
                <button class="btn" id="selection-in-interface--btn">Switcher en mode selection des zones dans l'interface</button>
                <form action="" method="" id="zones-associate" class="zones-associate">
                    <div>
                        <h3>Zones Affectées</h3>
                        <div class="area" id="loaded-zones"></div>
                    </div>
                    <div class="controls">
                        <span class="add" title="Ajouter"><i class="far fa-sort"></i></span>
                    </div>
                    <div>
                        <h3>Zones Disponibles</h3>
                        <div class="area" id="available-zones">
                        </div>
                    </div>
                    <div class="button-group">
                        <button class="btn">Valider</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="right-container">
            <div id="categories" class="categories">
                <h2>ASSOCIER DES CATEGORIES</h2>
                <span id="toggle" data-complete="none">Tout sélectionner</span>
                <form action="" method="" id="categories-associate" class="categories-associate">
                    <div>
                        <div class="checkbox">
                            <input type="checkbox" name="category-1" id="category-1" value="25">
                            <label for="category-1">Catégorie n°1</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="category-2" id="category-2" value="45">
                            <label for="category-2">Catégorie n°2</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="category-1" id="category-1" value="25">
                            <label for="category-1">Catégorie n°1</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="category-2" id="category-2" value="45">
                            <label for="category-2">Catégorie n°2</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="category-1" id="category-1" value="25">
                            <label for="category-1">Catégorie n°1</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="category-2" id="category-2" value="45">
                            <label for="category-2">Catégorie n°2</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="category-1" id="category-1" value="25">
                            <label for="category-1">Catégorie n°1</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="category-2" id="category-2" value="45">
                            <label for="category-2">Catégorie n°2</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="category-1" id="category-1" value="25">
                            <label for="category-1">Catégorie n°1</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="category-2" id="category-2" value="45">
                            <label for="category-2">Catégorie n°2</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="category-1" id="category-1" value="25">
                            <label for="category-1">Catégorie n°1</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="category-2" id="category-2" value="45">
                            <label for="category-2">Catégorie n°2</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="category-1" id="category-1" value="25">
                            <label for="category-1">Catégorie n°1</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="category-2" id="category-2" value="45">
                            <label for="category-2">Catégorie n°2</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="category-1" id="category-1" value="25">
                            <label for="category-1">Catégorie n°1</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="category-2" id="category-2" value="45">
                            <label for="category-2">Catégorie n°2</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="category-1" id="category-1" value="25">
                            <label for="category-1">Catégorie n°1</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="category-2" id="category-2" value="45">
                            <label for="category-2">Catégorie n°2</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="category-1" id="category-1" value="25">
                            <label for="category-1">Catégorie n°1</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="category-2" id="category-2" value="45">
                            <label for="category-2">Catégorie n°2</label>
                        </div>
                    </div>
                    <div class="button-group">
                        <button class="btn">Valider</button>
                    </div>
                </form>
            </div>
            <div id="products">
                <h2>ASSOCIER UN PRODUIT</h2>
                <form action="" method="" id="">
                    <div class="input-group">
                        <label>Liste des produits</label>
                        <select name="products">
                            <option value="">Associer à aucun produit</option>
                            <option value="2" data-category="25">Lorem ipsum dolor</option>
                            <option value="5" data-category="25">Lorem ipsum dolor</option>
                            <option value="6" data-category="25">Lorem ipsum dolor</option>
                            <option value="18" data-category="45">Lorem ipsum dolor</option>
                            <option value="35" data-category="45">Lorem ipsum dolor</option>
                            <option value="32" data-category="25">Lorem ipsum dolor</option>
                        </select>
                    </div>
                    <div class="button-group">
                        <button class="btn">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>